# Dependencies
node_modules/
.venv/
venv/

# Build output
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Environment
.env
.env.local

# Media Library
backend/library/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd